@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css";
@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Open+Sans&family=Righteous&display=swap');

body {
    font-family: 'Nunito', sans-serif;
    color: #fff;
}

.disabled:hover {
    cursor: not-allowed;
}

.navbar {
    background-color: rgba(0,0,0,0);
    z-index: 2;
}

.ok {
    color: aliceblue;
    font-family: 'Righteous', cursive;
}
.ok span {
    color: rgba(255, 199, 57, 1);
}

#banner {
    background-image: url('https://cdn.discordapp.com/attachments/957868929383026738/960883107454672906/615158-monumental-100717-very_compressed-scale-1_50x-gigapixel.jpg');
    background-size: cover;
    top: 50%; left: 50%;
    position: absolute;
    z-index: 0;
    min-width: 100%;
    min-height: 100%;
    transform: translate(-50%,-50%);
}
    
#about-banner {
    background: linear-gradient(0.87deg, rgba(135, 50, 2, 0.45) 0.69%, rgba(81, 38, 174, 0.2368) 100.48%, rgba(38, 92, 174, 0.00514528) 100.49%, rgba(195, 195, 196, 0.00260417) 100.5%, rgba(118, 166, 239, 0.5) 100.51%);
    position: absolute;
    z-index: 1;
    min-width: 100%;
    min-height: 100%;
}

#about-banner section {
    transform: translate(60%,70%);
}

.footer {
    color: white;
    background-color: black;
}